<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>

    <bean id="notification1" class="az.spring.demo.Notification"/>


    <bean id="email" class="az.spring.demo.Email"/>
    <bean id="sms" class="az.spring.demo.Sms"/>


    <bean id="employee" class="az.spring.demo.Employee">
        <property name="name" value="Subhan"/>
        <property name="surname" value="Naghiyev"/>
        <property name="age" value="19"/>
        <property name="salary" value="650"/>

        <property name="devices">
            <list>
                <ref bean="deviceAndroid"/>
            </list>
        </property>
        <property name="devicesMap">
            <map>
                <entry key="android">
                    <ref bean="deviceIos"/>
                </entry>

                <entry key="IOS">
                    <ref bean="deviceAndroid"/>
                </entry>

            </map>
        </property>


    </bean>


    <bean id="deviceAndroid" class="az.spring.demo.Device">
        <property name="name" value="Android"/>
        <property name="version" value="10.0.0"/>

    </bean>

    <bean id="deviceIos" class="az.spring.demo.Device">
        <property name="name" value="IOS"/>
        <property name="version" value="10.0.1"/>

    </bean>


</beans>